@use "animate.scss" as *;
@use "bootstrap.min.scss" as *;
@use "font-awesome.min.scss" as *;
@use "magnific-popup.scss" as *;
@use "owl.carousel.scss" as *;
@use "owl.theme.default.min.scss" as *;

$color_1: #252525;
$color_2: #353535;
$color_3: #454545;
$color_4: #757575;
$color_5: #ce3232;
$color_6: #bfbdbd;
$color_7: #f9f9f9;
$color_8: #ffffff;
$color_9: #fff;
$color_10: white;
$color_11: #FFF;
$color_12: #d9d9d9;
$color_13: #909090;
$color_14: #575757;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: #ffffff;
$background-color_2: rgba(20,20,20,0.2);
$border-color_1: transparent;
$border-top-color_1: #ffffff;

@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";


/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/
/*---------------------------------------
     GENERAL               
  -----------------------------------------*/
/*---------------------------------------
     BUTTONS               
  -----------------------------------------*/
/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
/*---------------------------------------
      HOME              
  -----------------------------------------*/
/*---------------------------------------
      ABOUT              
  -----------------------------------------*/
/*---------------------------------------
     MENU              
  -----------------------------------------*/
/*---------------------------------------
     FOOTER              
  -----------------------------------------*/
/*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/
/*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/
body {
	background: #ffffff;
	font-family: $font-family_1;
	overflow-x: hidden;
}
h1 {
	font-weight: bold;
	line-height: inherit;
	color: $color_1;
	font-size: 3em;
	line-height: 50px;
}
h2 {
	font-weight: bold;
	line-height: inherit;
	color: $color_2;
	font-size: 2em;
	padding-bottom: 10px;
}
h3 {
	font-weight: bold;
	line-height: inherit;
	font-size: 1.5em;
	margin-bottom: 0;
	color: $color_3;
	a {
		color: $color_3;
	}
}
h4 {
	font-weight: bold;
	line-height: inherit;
}
h5 {
	font-weight: bold;
	line-height: inherit;
}
h6 {
	font-weight: bold;
	line-height: inherit;
}
p {
	color: $color_4;
	font-size: 19px;
	font-weight: normal;
	line-height: 24px;
}
html {
	-webkit-font-smoothing: antialiased;
}
a {
	color: $color_1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-decoration: none !important;
	&:hover {
		color: $color_5;
		outline: none;
	}
	&:active {
		color: $color_5;
		outline: none;
	}
	&:focus {
		color: $color_5;
		outline: none;
	}
}
.section-title {
	padding-bottom: 40px;
	h2 {
		margin: 0;
	}
	h4 {
		color: $color_6;
		font-size: 10px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 0;
	}
}
.overlay {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
section {
	position: relative;
	padding: 100px 0;
}
#team {
	text-align: center;
}
#menu {
	text-align: center;
	padding-bottom: 0;
	.container {
		width: 100%;
	}
	.col-md-4 {
		margin: 0;
		padding: 0;
	}
	.menu-thumb {
		overflow: hidden;
		position: relative;
		cursor: pointer;
		width: 102%;
	}
}
#testimonial {
	text-align: center;
}
.about-image {
	img {
		width: 100%;
	}
	position: absolute;
}
.team-thumb {
	img {
		width: 100%;
	}
}
#google-map {
	iframe {
		border: 0;
		width: 100%;
		height: 390px;
	}
}
.section-btn {
	background: #ce3232;
	border-radius: 0;
	border: 0;
	color: $color_7;
	font-size: inherit;
	font-weight: normal;
	padding: 10px 25px;
	transition: 0.5s 0.2s;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}
.spinner {
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
	&:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 45px;
		height: 45px;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 50%;
		border: 1px solid #575757;
		border-top-color: $border-top-color_1;
		animation: spinner .9s linear infinite;
	}
}
#home {
	padding: 0;
	h1 {
		color: $color_8;
		padding-bottom: 30px;
	}
	h3 {
		color: $color_7;
		font-size: 14px;
		line-height: inherit;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 0;
	}
}
.slider {
	.owl-dots {
		position: absolute;
		top: 50%;
		right: 2em;
		justify-content: center;
	}
	.caption {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		background-color: $background-color_2;
		height: 100%;
		color: $color_9;
		cursor: e-resize;
		padding: 4em 0 0 2em;
	}
	.item {
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: local;
		background-size: cover;
		height: 650px;
	}
	.item-first {
		background-image: url(../images/pizza1.webp);
	}
	.item-second {
		background-image: url(../images/pizza2.webp);
		.section-btn {
			background: #292929;
			&:hover {
				background: #ffffff;
			}
		}
	}
	.item-third {
		background-image: url(../images/pizza3.webp);
		.section-btn {
			background: transparent;
			border: 1px solid #ffffff;
			&:hover {
				background: #ce3232;
				border-color: $border-color_1;
				color: $color_8;
			}
			&:focus {
				background: #ce3232;
				border-color: $border-color_1;
				color: $color_8;
			}
		}
	}
}
.owl-theme {
	.owl-dots {
		.owl-dot {
			display: block;
			span {
				width: 12px;
				height: 12px;
				margin: 7px 10px;
				border: 2px solid #d9d9d9;
				background: transparent;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}
			&:hover {
				span {
					background-color: $background-color_1;
					border-color: $border-color_1;
				}
			}
		}
		.owl-dot.active {
			span {
				background-color: $background-color_1;
				border-color: $border-color_1;
			}
		}
	}
}
#about {
	padding-bottom: 0;
}
.about-info {
	padding: 0 6em 5em 0;
	.section-title {
		padding-bottom: 20px;
	}
}
.menu-thumb {
	img {
		width: 100%;
		transition: 0.5s;
	}
	&:hover {
		img {
			transform: scale(1.15);
		}
		.menu-info {
			h3 {
				transform: translateY(0px);
				opacity: 1;
			}
			p {
				transform: translateY(0px);
				opacity: 1;
			}
			span {
				transform: translateY(0px);
				opacity: 1;
			}
			.menu-price {
				transform: translateY(0px);
				opacity: 1;
			}
			background: rgba(0,0,0,0.5);
		}
	}
	.menu-info {
		position: absolute;
		top: 0%;
		left: 0px;
		right: 0px;
		bottom: 0px;
		text-align: left;
		padding: 25px 30px;
		transition: 0.5s 0.2s;
		>a {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-between;
			color: $color_11;
		}
		h3 {
			transform: translateY(100%);
			opacity: 0;
			display: block;
			transition: 0.5s 0.2s;
			color: $color_8;
			z-index: 2;
			position: relative;
			margin-top: 0;
			margin-bottom: 20px;
		}
		p {
			transform: translateY(100%);
			opacity: 0;
			display: block;
			transition: 0.5s 0.2s;
			color: $color_8;
			z-index: 2;
			position: relative;
			color: $color_12;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: bold;
			letter-spacing: 1px;
			line-height: 19px;
		}
		.menu-price {
			transform: translateY(100%);
			opacity: 0;
			display: block;
			transition: 0.5s 0.2s;
			color: $color_8;
			z-index: 2;
			position: relative;
		}
	}
}
.menu-info {
	.menu-item {
		float: left;
	}
	.menu-price {
		float: right;
		span {
			font-size: 20px;
			font-weight: bold;
			line-height: 14px;
			display: block;
			margin-top: 10px;
			a {
				color: $color_10;
			}
		}
	}
	background: rgba(0,0,0,0.5) !important;
}
footer {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding: 120px 0;
	padding-bottom: 80px;
	.section-title {
		padding-bottom: 10px;
	}
	h2 {
		font-size: 20px;
	}
	a {
		color: $color_13;
	}
	p {
		color: $color_13;
	}
	strong {
		color: $color_12;
	}
	address {
		p {
			margin-bottom: 0;
		}
	}
	.social-icon {
		margin-top: 20px;
	}
}
.footer-info {
	margin-top: 20px;
}
.footer-open-hour {
	background: #ce3232;
	background: url('../images/footer-open-hour-bg.jpg') center center no-repeat;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 40px 0 40px 80px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
	bottom: 20px;
	&::after {
		background: rgba(29,29,29,0.85);
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -2222;
	}
	h2 {
		color: $color_8;
	}
	p {
		color: $color_12;
	}
	strong {
		color: $color_7;
	}
}
.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		list-style: none;
		margin-bottom: 5px;
		a {
			border-radius: 100px;
			color: $color_5;
			font-size: 15px;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-decoration: none;
			text-align: center;
			transition: all 0.4s ease-in-out;
			position: relative;
			&:hover {
				background: #ce3232;
				color: $color_8;
			}
		}
	}
}
body#mobile {
	.menu-thumb .menu-info h3, .menu-thumb .menu-info p, .menu-thumb .menu-info span, .menu-thumb .menu-info .menu-price { transform: translateY(0px) !important;
	opacity: 1 !important;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
	.slider {
		.col-md-8 {
			padding-left: 0;
		}
	}
}
@media screen and (max-width: 1170px) {
	.custom-navbar {
		.navbar-nav.navbar-nav-first {
			margin-left: inherit;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.about-info {
		padding-right: 0;
	}
	.about-image {
		position: relative;
	}
}
@media only screen and (max-width: 992px) {
	section {
		padding: 60px 0;
	}
	.custom-navbar {
		.section-btn {
			margin-left: 1em;
		}
	}
	.slider {
		.item {
			background-position: center;
		}
	}
	.about-info {
		padding: 0;
	}
	.team-info {
		margin-bottom: 50px;
	}
	#menu {
		.menu-thumb {
			width: 103%;
		}
	}
	#testimonial {
		background-position: 50% 0 !important;
	}
	#google-map {
		margin-bottom: 50px;
	}
	.footer-info {
		margin-bottom: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.custom-navbar {
		.nav {
			li {
				a {
					padding-right: 10px;
					padding-left: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.5em;
		line-height: normal;
	}
	h2 {
		line-height: normal;
	}
	h3 {
		line-height: normal;
	}
	.custom-navbar {
		background: #ffffff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 10px 0;
		text-align: center;
		.nav {
			li {
				a {
					line-height: normal;
					padding: 10px;
					color: $color_14;
				}
			}
		}
		.navbar-brand {
			color: $color_1;
			font-weight: 600;
		}
		.navbar-nav.navbar-right {
			li {
				display: inline-block;
			}
			.section-btn {
				display: block !important;
				width: 50%;
				margin: 10px auto 10px auto;
				padding: 10px;
			}
		}
		.section-btn {
			a {
				color: $color_8 !important;
			}
		}
	}
	.top-nav-collapse {
		.navbar-brand {
			color: $color_1;
			font-weight: 600;
		}
		.nav {
			li {
				a {
					color: $color_14;
				}
			}
		}
	}
	.slider {
		.caption {
			padding: 0;
		}
	}
	.menu-thumb {
		.menu-info {
			top: 0%;
		}
	}
	footer {
		padding: 60px 0;
		padding-bottom: 60px;
	}
	.footer-open-hour {
		right: 0;
		bottom: 0;
		margin-top: 30px;
	}
}
@media only screen and (max-width: 580px) {
	h1 {
		font-size: 2.1em;
	}
	h2 {
		font-size: 1.8em;
	}
	.menu-thumb {
		.menu-info {
			top: 0%;
		}
	}
}
@media screen and (max-width: 1280px) {
	.extra {
		display: none;
	}
}
}
